NEXT_PUBLIC_TREETRACKER_USER_API=http://localhost:8080
NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_API_TIMEOUT=10000
NEXT_PUBLIC_API_RETRIES=3
NEXT_PUBLIC_BASE_URL=http://localhost:3000


NEXT_PUBLIC_TREETRACKER_WALLET_API=https://dev-k8s.treetracker.org/wallet/keycloak
NODE_TLS_REJECT_UNAUTHORIZED = 0