# Each line is a file pattern followed by one or more owners.


* @Greenstand/wallet-mobile-code-reviewers

# Assign team @Greenstand/wallet-mobile-code-reviewers to apps/native/
apps/native/ @Greenstand/wallet-mobile-code-reviewers

# Assign team @Greenstand/wallet-mobile-code-reviewers to apps/web/
apps/web/ @Greenstand/wallet-mobile-code-reviewers

# Assign team @Greenstand/wallet-mobile-code-reviewers to packages/core/
packages/code/ @Greenstand/wallet-mobile-code-reviewers