PRIVATE_KEYCLOAK_REALM = treetracker

PRIVATE_KEYCLOAK_BASE_URL = 

PRIVATE_KEYCLOAK_CLIENT_SECRET =

DATABASE_URL=

PRIVATE_KEYCLOAK_CLIENT_ID = 

PRIVATE_WALLET_API_KEY = 

CORS_ORIGINS=
CORS_ORIGINS_DEV=http://localhost:3000,http://localhost:3001,http://127.0.0.1:3000
