{
  "dev": {
    "driver": "pg",
    "user" : "m_{SCHEMA}",
    "password" : "{MIGRATION_PASSWORD}",
    "database" : "treetracker",
    "host" : "db-postgresql-sfo2-nextgen-do-user-1067699-0.db.ondigitalocean.com",
    "port" : "25060",
    "schema" : "{SCHEMA}",
    "ssl" : {
      "rejectUnauthorized": false
    }
  },
  "integration": {
    "driver": "pg",
    "user" : "integration",
    "password" : "{INTEGRATION_PASSWORD}",
    "database" : "integration_test",
    "host" : "db-postgresql-sfo2-nextgen-do-user-1067699-0.db.ondigitalocean.com",
    "port" : "25060",
    "schema" : "{SCHEMA}",
    "ssl" : {
      "rejectUnauthorized": false
    }
  }
}
