.App {
  position: absolute;
  text-align: center;
}

.fade-push-enter {
  transform: translate(100%, 0px);
  z-index: 1;
}

.fade-push-enter-active {
  transform: translate(0%, 0px);
  transition: all 3s ease-in;
}

.fade-push-exit-active {
  opacity: 1;
}

.fade-pop-enter {
  transform: translate(0%, 0px);
  z-index: 1;
}

.fade-pop-enter-active {
  transform: translate(0%, 0px);
  transition: all 3s ease-in;
  z-index: 0;
}

.fade-pop-exit-active {
  transform: translate(100%, 0px);
  transition: all 3s ease-in;
  z-index: 1;
}

/*
.fade-pop-exit-done {
  transform: translate(100%, 0px);
  transition: all 3s ease-in;
}
*/
