.App {
  position: absolute;
  text-align: center;
}

.fade-enter {
  /*opacity: 0;*/
  transform: translate(100%, 0px);
  z-index: 1;
}

.fade-enter-active {
  transform: translate(0%, 0px);
  transition: all .3s ease-in;
}

.fade-exit-active {
  opacity: 1;
  /*transition: opacity 8s ease-in;*/
}
